 <div class="banner-new">
   <div class="container">
     <div class="new_header">
       <h1 class="ml15">
         <span class="word">Host</span>
         <span class="word">your</span>
         <span class="word">own</span>
         <span class="word">boat</span>
       </h1>
       <%= render 'form' %>
    </div>
   </div>

</div>
